In [2]:
7**4

2401

In [3]:
s="Hi there yogesh"

In [4]:
type(s)

str

In [5]:
s

'Hi there yogesh'

In [6]:
s.split(s)

['', '']

In [7]:
s.split(',')

['Hi there yogesh']

In [13]:
words = s.split()

In [14]:
words

['Hi', 'there', 'yogesh']

In [16]:
planet = "Earth"

In [17]:
diameter ="12742"

In [18]:
print(planet)

Earth

In [2]:
a="Earth"
b="12742"

In [3]:
'The diameter of {} is {} kilometers'. format(a,b)

'The diameter of Earth is 12742 kilometers'

In [6]:
print('The diameter of {} is {} kilometers'. format(a,b))

The diameter of Earth is 12742 kilometers

In [8]:
 Given this nested list, use indexing to grab the word "hello"

SyntaxError: invalid syntax (1389372711.py, line 1)

In [24]:
 list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [25]:
list

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [26]:
type(list)

list

In [27]:
list

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [43]:
list[3]

[5, [100, 200, ['hello']], 23, 11]

In [78]:
list[3][1][-1][0]

'hello'

#Create a function that counts the number of times of times the word "dog" occurs in a string Againignore edge cases

In [67]:
'dog ' in 'This dog runs faster than the other dog dude!'

True

In [53]:
" What is the difference betweeen a tuple and a list?"

' What is the difference betweeen a tuple and a list?'

In [70]:
dog('This dog runs faster than the other dog dude!')

True

In [73]:
j=" this dog runs fastr than the other dog dude"

In [74]:
j.count('dog')

2

### Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [7]:
seq=['soup','dog','salad','cat','great']

In [8]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [9]:
type(seq)

list

In [14]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [15]:
lam3=lambda x:x[0]!='s'

In [20]:
list(filter(lam3,seq))

['dog', 'cat', 'great']

In [ ]:
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [43]:
speed=int(input("Enter the speed"))
brithday=bool(input("Enter Brithday status"))
if True:
    speed=speed-5
if speed>80:
    print("BIG TICKET")
elif speed>60:
    print("SMALL TICKET")
else:
    print("NO TICKET")

Enter the speed78
Enter Brithday statustrue
SMALL TICKET

In [44]:
speed=int(input("Enter the speed"))
brithday=bool(input("Enter Brithday status"))
if True:
    speed=speed-5
if speed>80:
    print("BIG TICKET")
elif speed>60:
    print("SMALL TICKET")
else:
    print("NO TICKET")

Enter the speed65
Enter Brithday statusfalse
NO TICKET

In [46]:
speed=int(input("Enter the speed"))
brithday=bool(input("Enter Brithday status"))
if True:
    speed=speed-5
if speed>80:
    print("BIG TICKET")
elif speed>60:
    print("SMALL TICKET")
else:
    print("NO TICKET")

Enter the speed87
Enter Brithday statusTrue
BIG TICKET

In [ ]:
Question: Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [54]:
s=input("Enter the Input: ")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(a):
        num=num+c
print(num)

Enter the Input: -56dssd78
-5678

In [55]:
s

'-56dssd78'

In [56]:
type(s)

str

In [57]:
s=input("Enter the Input: ")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(a):
        num=num+c
print(num)

Enter the Input: -ab45cd
-45

In [58]:
s

'-ab45cd'

In [59]:
type(s)

str

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [79]:
num1=input("Enter the number: ")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is :",num3)
    print("reverse is :",num3[::-1])
print("palindrome is :",num3)

Enter the number: 88
Number is : 847
reverse is : 748
Number is : 1595
reverse is : 5951
Number is : 7546
reverse is : 6457
Number is : 14003
reverse is : 30041
Number is : 44044
reverse is : 44044
palindrome is : 44044

In [80]:
num1

'88'

In [81]:
num2

88

In [82]:
num3

'44044'

In [ ]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [11]:
def find_five_no():
    for i in range(9,0,-1):
        first=i
        second=i-2
        third=i-4
        fourth=i-6
        fifth=i-4
        
        if third+fourth+fifth==first:
            if(first+second+third+fourth+fifth)==19:
                return(int(str(first)+str(second)+str(third)+str(fourth)+str(fifth)))

In [12]:
find_five_no()

75313

In [13]:
pwd

'C:\\Users\\amolt'